@import "~scss/variables";

.navbar-brand {
  /* Make the left half of the nav equal to the sidebar width */
  width: $main-sidebar-width;
  padding: 0;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  border-right: 1px solid $border-color-darker;

  a {
    color: $navbar-dark-brand-color;
    text-align: center;

    &:hover {
      text-decoration: none;
    }
  }

  .navbar-version {
    margin-left: 0.25em;

    color: $navbar-dark-disabled-color;
    font-size: 60%;
  }

  .badge {
    font-size: 60%;
    padding: 0.15em 0.4em;
    border-radius: 3px;
    margin-left: 0.5em;
  }

  @include media-breakpoint-down(sm) {
    display: none;
  }
}
