@import "~scss/variables";

#main-nav {
  height: $navbar-height;

  padding: 0;
  align-items: stretch;

  box-shadow: $box-shadow;

  border-bottom: 1px solid $border-color-darker;

  .navbar-collapse {
    margin: 0 1rem 0 0;
  }

  .navbar-nav {
    .nav-link {
      border-right: 1px solid $border-color-darker;
      padding: 0 1.5rem;

      .nav-icon {
        margin-right: 0.5em;
      }

      &:last-child {
        border-right: none;
      }
    }
  }
}
