@import "~scss/variables";

.list-view table thead {
  user-select: none;

  th {
    .header-container {
      display: flex;
      flex-direction: row;

      .header-name {
        display: inline-block;
        flex: 1;
  
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
  
      .column-sort {
        display: inline-block;
        flex: 0;
  
        margin-left: 0.25rem;
        cursor: pointer;
      
        &-asc, &-desc {
          color: $body-color;
        }
      
        &-none {
          color: rgba($text-muted, 0.75);
      
          &:hover {
            color: $body-hover-color;
          }
        }
      }
    }
  }
}
