.list-view {
  .list-view-actions, .list-view-filters {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .btn, .form-control, .custom-select {
      margin-right: 0.5rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }  
}
