@import "~scss/variables";

.list-view .list-view-pagination {
  // Reset some bootstrap input group properties
  display: inline-flex;
  flex-wrap: nowrap;

  width: auto;
  margin-left: auto;

  .btn {
    border: none;
  }

  .list-view-pagination-inner {
    position: relative;
  }

  .form-control {
    display: block;
    min-width: 96px;

    text-align: center;

    border-radius: 0;

    float: left;
  }

  .list-view-pagination-grower {
    white-space: nowrap;
    word-wrap: break-all;

    height: 0;
    padding-top: 0;
    padding-bottom: 0;

    float: right;
  }
}
