@import "~scss/variables";

.list-view table {
  margin-bottom: 0;

  thead {
    border-bottom: 1px solid $border-color;
  }

  &.loading {
    // Fade out the skeleton screen when data is loading
    mask-image: linear-gradient(to bottom, black 50%, transparent);
  }
}
