@import "~scss/variables";

.krist-value {
  font-size: 100%;

  white-space: nowrap;

  .icon-krist {
    /* Hack to make it consistent with Lato */
    position: relative;
    bottom: 0.15em;
    margin: 0 -0.2em 0 -0.2em;
    font-size: 0.7em;
    color: $krist-value-alt-color; 
  }

  .krist-value-amount {
    font-weight: bold;
  }

  .krist-currency-long {
    color: $krist-value-alt-color; 

    &::before {
      content: " ";
    }
  }
}
