
.icon-cog:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-krist:before { content: '\e802'; } /* '' */
.icon-download:before { content: '\e803'; } /* '' */
.icon-upload:before { content: '\e804'; } /* '' */
.icon-book:before { content: '\e805'; } /* '' */
.icon-users:before { content: '\e806'; } /* '' */
.icon-link:before { content: '\e807'; } /* '' */
.icon-tags:before { content: '\e808'; } /* '' */
.icon-tag:before { content: '\e809'; } /* '' */
.icon-chart-line:before { content: '\e80a'; } /* '' */
.icon-home:before { content: '\e80b'; } /* '' */
.icon-wallet:before { content: '\e80c'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-gauge:before { content: '\f0e4'; } /* '' */
.icon-mail-squared:before { content: '\f199'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */
.icon-cubes:before { content: '\f1b3'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-diamond:before { content: '\f219'; } /* '' */