@import "~scss/variables";

#main-sidebar .sidebar-footer {
  user-select: none;
  
  padding: 0.5rem;

  text-align: center;
  font-size: 75%;

  color: $text-muted;

  a {
    color: $body-color;
  }
}
