@import "~scss/variables";

.nav-guest-indicator {
  background-color: $main-sidebar-top-bg;

  padding: 0.5rem 1rem;

  border-bottom: 1px solid $border-color-darker;

  color: $text-muted;
  text-align: center;
  font-size: 85%;
}
