@import "~scss/variables";

#main-sidebar {
  width: $main-sidebar-width;

  position: fixed;
  top: $navbar-height;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  border-right: 1px solid $border-color;
  background: $main-sidebar-bg;

  .sidebar-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    overflow-y: auto;

    flex: 1;
  }

  /* Separator headers */
  h6 {
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;

    color: $text-muted;

    // margin: 1rem 0 0 0;
    margin: 0;
    padding: 1rem 1rem 0.5rem 1rem;

    border-top: 1px solid $border-color;
  }
}