@import "~scss/variables";

#main-sidebar .nav-item {
  .nav-link {
    color: $main-sidebar-color;

    padding: 0.75rem 1.25rem;
  }

  .sidebar-icon {
    margin-right: 0.75rem;
  }

  &:hover {
    background: $main-sidebar-hover-bg;
  }
}
