@import "~scss/variables";

.nav-total-balance {
  background-color: $main-sidebar-top-bg;

  padding: 0.5rem 1rem;

  border-bottom: 1px solid $border-color-darker;

  h5 {
    margin-bottom: 0;

    font-size: $font-size-sm;
    font-weight: bolder;

    color: $text-muted;
  }

  .krist-value {
    font-size: 120%;
  }
}
