@import "~scss/variables";

.modal-header {
  /* Close button isn't vertically aligned in modal header by default. */
  align-items: center;
}

.modal-footer {
  /* Display the buttons in a column on mobile */
  @include media-breakpoint-down(sm) {
    display: flex;
    flex-direction: column;
    align-items: initial;

    /* Force buttons with `margin-right: auto` to not */
    .btn {
      margin-right: 0 !important;
    }
  }
}
