@import "_theme"; /* Re-skin bootstrap */

/* Import Bootstrap after redefining its variables */
@import 
  "~bootstrap/scss/functions", 
  "~bootstrap/scss/variables",
  "~bootstrap/scss/mixins/breakpoints";

/* -------------------------------------------------------------------------- */
/*                                   NAVBAR                                   */
/* -------------------------------------------------------------------------- */
$navbar-height: 50px;

/* Search bar */
$navbar-search-bg: $light;
$navbar-search-color: rgba($body-color, 0.5);
$navbar-search-placeholder-color: $input-placeholder-color;
$navbar-search-placeholder-font-size: $font-size-sm;
$navbar-search-hover-bg: $slighter;
$navbar-search-hover-color: rgba($body-color, 0.75);
$navbar-search-hover-placeholder-color: $input-placeholder-color;
$navbar-search-focus-bg: $lighter;
$navbar-search-focus-color: $body-color;
$navbar-search-focus-placeholder-color: $input-placeholder-color;

/* -------------------------------------------------------------------------- */
/*                                MAIN SIDEBAR                                */
/* -------------------------------------------------------------------------- */
$main-sidebar-width: 200px !default;
$main-sidebar-color: $body-color;
$main-sidebar-bg: $darker;
$main-sidebar-hover-bg: mix($darker, $darkest, 50%);
$main-sidebar-top-bg: $darkest;
$main-sidebar-top-hover-bg: $main-sidebar-hover-bg;

/* -------------------------------------------------------------------------- */
/*                                    MISC                                    */
/* -------------------------------------------------------------------------- */
$krist-value-alt-color: $text-muted; // TODO: maybe green?
