@import "_theme"; /* Re-skin bootstrap */

/* Import Bootstrap after redefining its variables */
@import 
  "~bootstrap/scss/functions", 
  "~bootstrap/scss/variables",
  "~bootstrap/scss/mixins";

/* -------------------------------------------------------------------------- */
/*                                   NAVBAR                                   */
/* -------------------------------------------------------------------------- */
$navbar-height: 50px;

/* Search bar */
$navbar-search-bg: $light;
$navbar-search-color: rgba($body-color, 0.5);
$navbar-search-placeholder-color: $input-placeholder-color;
$navbar-search-placeholder-font-size: $font-size-sm;
$navbar-search-hover-bg: $slighter;
$navbar-search-hover-color: rgba($body-color, 0.75);
$navbar-search-hover-placeholder-color: $input-placeholder-color;
$navbar-search-focus-bg: $lighter;
$navbar-search-focus-color: $body-color;
$navbar-search-focus-placeholder-color: $input-placeholder-color;

/* -------------------------------------------------------------------------- */
/*                                MAIN SIDEBAR                                */
/* -------------------------------------------------------------------------- */
$main-sidebar-width: 240px !default;
$main-sidebar-color: $body-color;
$main-sidebar-bg: $darker;
$main-sidebar-hover-bg: mix($darker, $darkest, 50%);
$main-sidebar-top-bg: $darkest;
$main-sidebar-top-hover-bg: $main-sidebar-hover-bg;
$main-sidebar-collapse-duration: 350ms;
$main-sidebar-backdrop-bg: $modal-backdrop-bg;
$main-sidebar-backdrop-opacity: $modal-backdrop-opacity;

/* -------------------------------------------------------------------------- */
/*                                    MISC                                    */
/* -------------------------------------------------------------------------- */
$krist-value-alt-color: $text-muted; // TODO: maybe green?

$skeleton-color: $lighter;
$skeleton-height: 0.75em;
$skeleton-max-width: 10em;
$skeleton-pulse-opacity: 0.6;
$skeleton-pulse-duration: 1.5s;
$skeleton-pulse-delay: 1s;

$table-loading-gradient-height: 10rem;
$table-loading-gradient-color: $body-bg;
